{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' type='text/css' href='https://necolas.github.io/normalize.css/8.0.1/normalize.css'>
  <link rel='stylesheet' href="{% static 'css/site.css'%}">
  <title>Field</title>
</head>

<body>

  {% if user.is_authenticated %}
  {{ user.username }} <a href="{% url 'accounts:logout' %}">Log Out</a>
  {% else %}
  <a href="{% url 'accounts:login' %}">Log In</a>
  <a href="{% url 'accounts:sign_up' %}">Sign Up</a>
  {% endif %}


  <div id="app" v-cloak>
    <div class="la-ball-atom la-dark" v-if='loading'>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>

    <button v-on:click='addsearch=true' v-if='loading==false'>New Search</button>
    <div v-if='addsearch'>
      <form @submit.prevent='createsearch()'>
        <div>Search Name: <input type="text" v-model="nsearchname"></div>
        <div>Subreddits to search: <input type="text" v-model='nsubreddits'></div>
        <div>Search terms: <input type="text" v-model='nsearchterms'></div>
        <div><button v-on:click='loading=true, addsearch=false'>Submit</button></div>
      </form>
      <button v-on:click='addsearch=false'>Cancel</button>
    </div>

    <br><br>

    <div v-for='(result, index) in results'>
      <div>
        <div v-on:click='result.display = !result.display'>Search: [[ result.searchname ]] <br>Results: [[ result.hits ]]</div>
        <button v-on:click='result.edit=true'>Edit</button><button v-on:click='deletesearch(result.id, index)'>Delete</button>
        <ul v-if='result.display'>
          <li v-for='post in result.posts'>[[ post.score ]] | <a :href='post.link' target='_blank'>[[ post.title ]]</a></li>
        </ul>
        <div v-if='result.edit'>
          <form @submit.prevent='editsearch(result, index)'>
            <div>Search Name: <input type="text" v-model='result.searchname'></div>
            <div>Subreddits to search: <input type="text" v-model='result.subreddits'></div>
            <div>Search terms: <input type="text" v-model='result.searchterms'></div>
            <input type='hidden' v-model:value='result.id'><input type='hidden' v-model='index'>
            <div><button>Submit</button></div>
          </form>
        </div>
      </div>
      <br><br>
    </div>

  </div>


  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js'></script>


  <script src='{% static "js/dashboard.js"%}'></script>
</body>

</html>