{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>FIEND | FInd ENgage Deliver</title>
  <link rel='stylesheet' href='{% static "css/style.css" %}'>
</head>

<body>

  <div id='app'>
    <div v-for='(result, index) in results' class='all-searches'>
      <div class='search-header'>
        <div class='title'>[[ result.searchname ]]</div>
        <div class='search-utility'>
          <div class='search-delete'>delete</div>
          <div class='search-action' @click='result.display=!result.display'>
            <div class='result-count'>[[ result.hits ]]</div>
            <div class='drop-down'>^</div>
          </div>
        </div>
      </div>
      <div class='search-content' :class='{collapsed:result.display}' v-for='post in result.posts'>
        <div class='search-item card'>
          <div class='score'>[[ post.score ]]</div>
          <div class='post-title'>[[ post.title.slice(0,64) ]]</div>
          <div class='link'><a :href='post.link' target='_blank'>go</a></div>
        </div>
      </div>
    </div>
  </div>




  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js'></script>
  <script src='{% static "js/vue.js"%}'></script>
</body>

</html>