{% extends 'layout.html' %}


{% block content %}
<div id='app'>

  <div class='button'>
    <div @click='addsearch=!addsearch' class=''>Create New Search</div>
  </div>
  <div class='search-content' :class='{collapsed:addsearch}'>
    <div class='search-item card'>
      <form @submit.prevent='createsearch()'>
        <div>Search Name: <input type="text" v-model="nsearchname"></div>
        <div>Subreddits to search: <input type="text" v-model='nsubreddits'></div>
        <div>Search terms: <input type="text" v-model='nsearchterms'></div>
        <div><button v-on:click='loading=true, addsearch=false'>Submit</button></div>
      </form>
    </div>
  </div>


  <div v-for='(result, index) in results' class='all-searches'>
    <div class='scroll'>
      <div><img src='/static/img/scrollknob.png'></div>
      <div class='search-header'>
        <div class='title'>[[ result.searchname ]]</div>
        <div class='search-utility'>
          <div class='search-action' @click='result.edit=!result.edit'>edit</div>
          <div class='search-action' @click='deletesearch(result.id, index)'>delete</div>
          <div class='search-action' @click='result.display=!result.display'>
            <div class='result-count'>[[ result.hits ]]</div>
            <div :class='{"drop-down": result.display}'>^</div>
          </div>
        </div>
      </div>
      <div><img src='/static/img/scrollend2.png'></div>
    </div>
    <div class='search-content' :class='{collapsed:result.edit}'>
      <div class='search-item card'>
        <form @submit.prevent='editsearch(result, index)'>
          <div>Search Name: <input type="text" v-model='result.searchname'></div>
          <div>Subreddits to search: <input type="text" v-model='result.subreddits'></div>
          <div>Search terms: <input type="text" v-model='result.searchterms'></div>
          <input type='hidden' v-model:value='result.id'><input type='hidden' v-model='index'>
          <div><button>Submit</button></div>
        </form>
      </div>
    </div>

    <div v-for='post in result.posts'>
      <div class='search-content' :class='{collapsed:result.display}'>
        <div class='search-item card'>
          <div class='score'>[[ post.score ]]</div>
          <div class='post-title'>[[ post.title.slice(0,64) ]]... </div>
          <div class='link'><a :href='post.link' target='_blank'>~go~</a></div>
        </div>
      </div>
    </div>

  </div>
</div>
{% endblock %}